* {
    margin: 0px;
    padding: 0px;
    border-block: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifArial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    color: aliceblue;
    -webkit-text-stroke: 2px black;

    font-size: 2.75em;
}

header {
    padding: 4%;
    background-image: url("/images/header_bg.png");
    background-position: center;
}

.levels-container {

    max-height: 2500vh;
    max-width: 60%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    overflow: hidden;
}

h3 {
    font-weight: 250;
    text-align: left;
}

h4 {
    font-weight: 100;
    text-align: left;
}

a {
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
}

.level, .level__completion-link {

    display: flex;
    flex-direction: row;
    align-content: center;

    margin-top: 10px;
    margin-bottom: 10px;

    height: 125px;
    width: 90%;
    padding: 2.5%;

    align-items: center;
    align-content: baseline;

    background-color: rgb(237, 235, 235);
    border-radius: 16px;
    border-style: dotted;
    border-color: rgba(0, 0, 0, .1);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);

    overflow: hidden;

}

.level:hover {
    cursor: pointer;
    background-color: rgb(206, 206, 206);;
}

.level__thumb {

    display: flex;

    border-color: black;

    object-fit: cover;
    height: 100%;
    width: 30%;

    margin-left: 5%;

    border-radius: 20px;

    outline: black;
    outline-color: rgb(0, 0, 0);
    outline-style: solid;
}

.level__details {

    padding: 5%;

    display: flex;
    flex-direction: column;

}

.victor {
    font-weight: bold;
}