* {
  margin: 0px;
  padding: 0px;
  border-block: border-box;
  font-family:
    "Segoe UI", Tahoma, Geneva, Verdana, sans-serifArial, Helvetica, sans-serif;
}

body {
  margin-top: 5%;
  background: #374f66;
  background: radial-gradient(ellipse, rgba(55, 79, 102, 1) 50%, rgba(16, 23, 31, 1) 100%);
}

body::scroll-marker {
  scroll-behavior: smooth;
  background-color: from rgba(0, 0, 0, 0);
}

.background {

  height: 100%;
  width: 100%;
}

.title {
  text-align: left;
  margin-left: 1%;

  font-size: 2em;
  -webkit-text-stroke: 2px black;
  width: 100%;
}

.title, .header__links {
  color: aliceblue;
}

header {
  padding: none;
  background-position: center;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
  padding-bottom: 0.5%;
  width: 100%;

  max-height: 6%;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  background-color: #526D82;

  display: flex;
  flex-direction: row;
  gap: 2%;

  padding-top: .5%;
}

.header__links {

  width: inherit;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 10%;

  align-items: center;
  

  font-size: 1.4em;
  margin-right: 2%;
  margin-left: 0%;


  justify-content: flex-end;
}

.header__links > a {
  padding: 2%;
}


.profile_icon {
  height: 40px;
  width: 40px;
  border-radius: 20px;

  justify-self: right;
}

.level-manager {
  -webkit-text-stroke: .75px black;
}

.profile_icon:hover, .level-manager:hover {
  background-color: #374f66;
  border-radius: 32px;
  cursor: pointer;
}

.search-bar__form {


  width: 75%;
  height: auto;

  display: flex;
  flex-direction: row;

  justify-content: center;
  justify-self: center;

  align-self: center;
}

.search-bar__label {
  padding: 2.5%;
}

#search-bar {
  border-radius: 8px;
  padding: 2.5%;
  padding-right: 50%;
}

.levels-container {
  max-height: 2500vh;
  max-width: 60%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  overflow: hidden;
}

h3 {
  font-weight: 250;
  text-align: left;
}

h4 {
  font-weight: 100;
  text-align: left;
}

a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}

.level {
  display: flex;
  flex-direction: row;
  align-content: center;

  margin-top: 10px;
  margin-bottom: 10px;

  height: 100px;
  width: 70%;
  padding: 2.5%;

  align-items: center;
  align-content: baseline;

  background-color: #9DB2BF;
  border-radius: 16px;
  border-style: groove;
  border-color: #27374D;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);

  overflow: hidden;
}

.level:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: #7d929e
}

.level__thumb {
  display: flex;

  object-fit: cover;
  height: 100%;
  width: 30%;

  margin-left: 1%;

  border-radius: 16px;
}

.level__details {
  padding: 5%;

  display: flex;
  flex-direction: column;
}

.victor {
  font-weight: bold;
}