* {
  margin: 0px;
  padding: 0px;
  border-block: border-box;
}

body {
  margin-top: 5%;
  background: #374f66;
  background: radial-gradient(ellipse, rgba(55, 79, 102, 1) 50%, rgba(16, 23, 31, 1) 100%);

  overflow-y: scroll;

  min-height: 100vh;
}

.background {
  height: 100%;
  width: 100%;
}

.submit-button {
    color: whitesmoke;
    background-color: rgb(74, 202, 74);

    height: 10%;
    width: 50%;
    border-radius: 8px;

    margin-top: 5%;
}

.submit-button:hover {
    cursor: pointer;
    background-color:rgb(68, 178, 68)
}

label {
    align-self: start;
}

span.mandatory {
    color: red;
}