* {
  margin: 0px;
  padding: 0px;
  border-block: border-box;
  
}

body {
  margin-top: 5%;
  background: #374f66;
  background: radial-gradient(ellipse, rgba(55, 79, 102, 1) 50%, rgba(16, 23, 31, 1) 100%);

  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

.background {
  height: 100%;
  width: 100%;
}

.levels-container {
  max-height: 2500vh;
  max-width: 60%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  overflow: hidden;
}

h3 {
  font-weight: 250;
  text-align: left;
}

h4 {
  font-weight: 100;
  text-align: left;
}

a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}

.level {
  display: flex;
  flex-direction: row;
  align-content: center;

  margin-top: 10px;
  margin-bottom: 10px;

  height: 100px;
  width: 70%;
  padding: 2.5%;

  align-items: center;
  align-content: baseline;

  background-color: #9DB2BF;
  border-radius: 16px;
  border-style: solid;
  border-color: #27374D;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.4);

  overflow: hidden;
}

.level:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: #7d929e
}

.level__thumb {
  display: flex;

  object-fit: cover;
  height: 100%;
  width: 30%;

  margin-left: 1%;

  border-radius: 16px;
}

.level__details {
  padding: 5%;

  display: flex;
  flex-direction: column;
}

.victor {
  font-weight: bold;
}

a, a:visited {
    text-decoration: none !important;
    color: inherit;
}